{% extends 'base.html' %}


{% block content %}
<center>
    <div>
        <br>
        <h1>Game search!</h1>
        <div class="container-fluid" style="width: 30%;">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Game name" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <br>

        <ul class="list-group" style="width: 50%;">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>

    </div>
</center>
{% endblock %}