{% extends 'base.html' %}


{% block content %}
<!--
<center>
    <br>
    <h1>Game Board</h1>
    <br>
    <canvas id="board" width="500" height="500" style="background-color:#eee; border:1px solid #ccc;"></canvas>
    <img id="white_figure" src="{{url_for('static', path='/images/white_figure.png')}}" style="display: none;">
    <img id="black_figure" src="{{url_for('static', path='/images/black_figure.png')}}" style="display: none;">
    <img id="board_background" src="{{url_for('static', path='/images/board_1.png')}}" style="display: none;">
</center>

<p id="message">Message:</p>
<p id="figureType">Your figures:</p>
<input type="text" onchange="calltest(this.value)">

-->

<div class="row">
    <div class="col-md-4">
        <p id="figureType">Your figures:</p>
        <input type="text" onchange="calltest(this.value)">
        <br>
        <br>
        <ul id="message">
        </ul>
    </div>
    <div class="col-md-4">
        <center>
            <br>
            <h1>Game Board</h1>
            <br>
        </center>
        <canvas id="board" width="500" height="500" style="background-color:#eee; border:1px solid #ccc;"></canvas>
        <img id="white_figure" src="{{url_for('static', path='/images/white_figure.png')}}" style="display: none;">
        <img id="black_figure" src="{{url_for('static', path='/images/black_figure.png')}}" style="display: none;">
        <img id="white_figure_ch" src="{{url_for('static', path='/images/white_figure_ch.png')}}" style="display: none;">
        <img id="black_figure_ch" src="{{url_for('static', path='/images/black_figure_ch.png')}}" style="display: none;">
        <img id="board_background" src="{{url_for('static', path='/images/board_1.png')}}" style="display: none;">
    </div>
</div>


<script src="{{url_for('static', path='/js/gameController.js')}}"></script>
{% endblock %}