{% extends 'base.html' %}


{% block content %}
<!--
<center>
    <br>
    <h1>Game Board</h1>
    <br>
    <canvas id="board" width="500" height="500" style="background-color:#eee; border:1px solid #ccc;"></canvas>
    <img id="white_figure" src="{{url_for('static', path='/images/white_figure.png')}}" style="display: none;">
    <img id="black_figure" src="{{url_for('static', path='/images/black_figure.png')}}" style="display: none;">
    <img id="board_background" src="{{url_for('static', path='/images/board_1.png')}}" style="display: none;">
</center>

<p id="message">Message:</p>
<p id="figureType">Your figures:</p>
<input type="text" onchange="calltest(this.value)">

-->

<div class="row">
    <div class="col-md-4">
        <br>
        <h1>Info</h1>
        <br>
        <center>
            <p id="figureType" style="border: 2px solid #D3D3D3; border-radius: 10px; padding: 10px; background-color: #dbe0e4;">Your
                figures: </p>
        </center>
        <br>
        <br>
        <ul id="message">
        </ul>
    </div>
    <div class="col-md-4">
        <center>
            <br>
            <h1>Game Board</h1>
            <br>
        </center>
        <canvas id="board" width="500" height="500" style="background-color:#eee; border:1px solid #ccc;"></canvas>
        <img id="white_figure" src="{{url_for('static', path='/images/white_figure.png')}}" style="display: none;">
        <img id="black_figure" src="{{url_for('static', path='/images/black_figure.png')}}" style="display: none;">
        <img id="white_figure_ch" src="{{url_for('static', path='/images/white_figure_ch.png')}}"
            style="display: none;">
        <img id="black_figure_ch" src="{{url_for('static', path='/images/black_figure_ch.png')}}"
            style="display: none;">
        <img id="board_background" src="{{url_for('static', path='/images/board_1.png')}}" style="display: none;">
    </div>
    <div class="col-md-4">
        <br><br><br><br>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div id="buttons" class="col-md-6">
                <button id="surrenderButton" type="button" class="btn btn-danger">Surrender</button>
                <form id="exitButton" action="{{ url_for('home') }}" method="get" style="display: none;">
                    <br>
                    <button id="surrenderButton" type="input" class="btn btn-success">Exit</button>
                </form>
            </div>
        </div>

    </div>
</div>


<script src="{{url_for('static', path='/js/gameController.js')}}"></script>
{% endblock %}